
.header {
  border-bottom: 1px solid #eee;
  padding-bottom: 9px;
  padding-top: 30px;
  text-align: center;
  position: relative;
  font-size: 0.8em;
  margin-bottom: 20px;
  height: 12vh;
  color: #444;
}
